* {
    box-sizing: content-box;

    text-decoration: none;
    list-style: none;

    padding: 0;
    margin: 0;
}

body{
    background-color: #121A24;
}

.fontInter{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: aliceblue;
}

.fontInterWhite{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: black;
}

.fontInterWhite2{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
}

.fontJolly{
    text-decoration: none;
    font-family: 'Jolly Lodger', cursive;
    font-size: 50px;
    
    color: aliceblue;
}

.fontInterFooter{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: aliceblue;

    font-size: 10px;
    text-align: center;
}

.botaoNav:hover{
    list-style: none;
    text-decoration: none;
    color:aquamarine;
}
