.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caixaLogin{
    background-color: rgb(0, 0, 0);
    border-radius: 25px;

    width: 50%;
    max-width: 60%;

    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tamanhoLogin{
    font-size: 20px;
}

.tamanho2{
    font-size: 13px;
}

.btn-cor {
    background-color: #24B983;
}

.btn-cor:hover{
    background-color: #1a8960;
}

.sublinha{
    text-decoration: underline;
}

.form-limitado {
    width: 45%;
    margin: auto;

    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.inputL{
    height: 2% !important;
    background-color: #d6dcda;
}

.arredonda {
    border-radius: 130px;
    padding: 3% 13%;
}

.arredondaCampo {
    border-radius: 20px;
}

.linkOtherLine:hover{
    color: #24B983;
}