
section {
    padding: 50px 0; /* Ajuste o valor do padding conforme necessário */
}

.custom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.custom-container .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-caption.colorBg{
    background-color: rgba(0, 0, 0, 0.785);
    bottom: 0;
    left: 0;
    right: 0;
}


.estConhecer{
    text-decoration: none;
    list-style: none;
    padding: 0%;

    color: aliceblue;
    margin-bottom: 1%;
}

.estConhecer:hover{
    color: rgb(81, 205, 193);
}