body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.championship {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.championship-name {
    color: aliceblue;
    font-family: "Nome da Fonte", sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
}

.championship-date {
    color: aliceblue;
    font-family: "Nome da Fonte", sans-serif;
    font-size: 14px;
}

.championship-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.btn-cor {
    background-color: #24B983;
}

.btn-cor:hover {
    background-color: #1a8960;
}

.titleCamp {
    text-align: center;
    margin-bottom: 5%;
}

.textCamp {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.linkOtherLine:hover{
    color: #24B983;
}

.sublinha{
    text-decoration: underline;
}